<div class='object-button global-prevent-select' ondblclick="{{ctx 'dblclicked(event)'}}" onclick="{{ctx 'clicked(event)'}}"
     onmouseenter="{{ctx 'enter()'}}" onmouseleave="{{ctx 'leave()'}}" oncontextmenu="{{ctx 'context_menu(event)'}}">

    {{item_thumbnail item}}
    <p class="item-name">{{item.name}}{{#if display_size}} ({{display_size}}){{/if}}{{#if display_date}} ({{display_date}}){{/if}}</p>
</div>