<div class="side-bar">
    <div {{object "div_my_repositories"}} class="category">
        <button onclick="{{ctx "expand_my_repositories()"}}" oncontextmenu="{{ctx "context_my_repositories(event)"}}">
            <p class="arrow">▸</p><img src="/public/images/icons/icons8-folder-96.png">
            <p class="title">Mes dépôts</p>
        </button>
        <div {{object "my_repositories"}} class="content"></div>
    </div>
    <div {{object "div_shared"}} class="category">
        <button class="field" onclick="{{ctx "switch_shared()"}}">
            <p class="arrow">▸</p><img src="/public/images/icons/icons8-public-96.png">
            <p class="title">Partagés avec moi</p>
        </button>
        <div {{object "shared"}} class="content"></div>
    </div>
    <div {{object "div_recent"}} class="category">
        <button class="field" onclick="{{ctx "switch_recent()"}}">
            <p class="arrow">▸</p><img src="/public/images/icons/icons8-clock-96.png">
            <p class="title">Récents</p>
        </button>
        <div {{object "recent"}} class="content"></div>
    </div>
</div>