<div {{object "category"}}>
    <button class="field" onclick="{{ctx "expand()"}}" oncontextmenu="{{ctx "context(event)"}}">
        <p class="arrow" {{object "arrow"}}>▸</p><img src="/public/images/icons/icons8-folder-96.png">
        <p class="title">{{name}}</p>
    </button>
    <div {{object "content"}} class="content"></div>
</div>