<div class="carousel-overlay">
    <div class="data-container">
        <div class="stats">
            {{typeicon item.mimetype}}
            <div class="substats">
                <p id="item-mime-type">{{item.mimetype}}</p>
                <p id="item-size">Poids : {{file_size}}</p>
            </div>
        </div>
        <div class="title desktop-title">
            <h1 id="item-title">{{item.name}}</h1>
        </div>
        <div class="right-buttons">
            <div class="action-buttons">
                <button class="plus-button" onclick="{{ctx 'share(event)'}}"><img
                        src="/public/images/icons/icons8-url-96.png" alt="Share"></button>
                <button class="plus-button" onclick="{{ctx 'download(event)'}}"><img
                        src="/public/images/icons/icons8-download-96.png" alt="Download"></button>
            </div>
            <button class="cancel-button" onclick="{{ctx 'close_carousel(event)'}}">X</button>
        </div>
    </div>
    <div class="title mobile-title">
        <h1 id="item-title">{{item.name}}</h1>
    </div>
    <div class="hseparator"></div>
</div>