<div class="admin-user">
    <p>{{id}}</p>
    <p>{{name}}</p>
    <p>{{display_name}}</p>
    <p>{{owner}}</p>
    <p>{{description}}</p>
    <p>{{status}}</p>
    <p>{{visitor_file_lifetime}}</p>
    <p>{{max_file_size}}</p>
    <p>{{allow_visitor_upload}}</p>
</div>