<div class="admin-stats">
    <p>Directory count : {{dirs}}</p>
    <p>File count : {{files}}</p>
    <p>Real file count : {{effective_files}}</p>
    <p>Total size : {{size}}</p>
    <p>Real size : {{effective_size}}</p>
    <p>Thumbnail count : {{thumbnails}}</p>
</div>