<div id="app-container">
    <div id="global-header" {{object "global_header"}}></div>
    <div id="body-container">
        <div id="main-body">
            <div id="mobile-background" onclick="{{ctx "close_mobile()"}}" {{object "mobile_bg"}}></div>
            <div id="side-bar" {{object "side_bar"}}></div>
            <div id="viewport" {{object "viewport"}}></div>
        </div>
    </div>
</div>