<div>
    <h1>Informations Utilisateur</h1>
    <div class="hseparator"></div>
    <h2>Données personnelles</h2>
    <div class="table">
        <div class="fields">
            <p>Nom</p>
            <p>Email</p>
            <p>Rôle</p>
            <p>Mot de passe</p>
            <p>Email publique</p>
        </div>
        <div class="values">
            <p>{{user.name}}</p>
            <p>{{user.email}}</p>
            <p>{{user.role}}</p>
            <button onclick="{{ctx 'reset_password()'}}">Changer le mot de passe</button>
            <label>
                <input type="checkbox" {{#if user.allow_contact}}checked{{/if}}>
            </label>
        </div>
    </div>

    <div class="hseparator"></div>
    <div>
        <h2>Appareils connectés</h2>
        <div id="connected-devices-list">
            {{#each tokens}}
                <div class="hseparator"></div>
                <div class="device">
                    <p class="device-name">{{this.device}}</p>
                    <p>{{this.expdate}}</p>
                    <button class="cancel-button" token={{this.token}} onclick="window.user_settings.get().delete_auth_token(this)"><img src='/images/icons/icons8-trash-52.png'></button>
                </div>
            {{/each}}

        </div>
    </div>
    <div class="hseparator"></div>
</div>