<h1>Modifier le fichier {{item.name}}</h1>
<form onsubmit="{{ctx 'submit(event)'}}">
    <div class="field edit-file-name">
        <label for='name'>
            <input type="text" name="name" placeholder="Nom" id="name" value="{{item.name}}">
        </label>
        <label for='extension' style="flex-grow: unset; padding-left: 10px">
            <input type="text" name="extension" placeholder="Extension" id="extension" value="{{item.extension}}">
        </label>
    </div>
    <div class="field">
        <label for='description'>
            <textarea name="description" placeholder="Description" id="description" rows="8">{{item.description}}</textarea>
        </label>
    </div>
    <input type="submit" value="Valider">
</form>