<div class='item-button global-no-selection' ondblclick="{{ctx 'dblclicked(event)'}}" onclick="{{ctx 'clicked(event)'}}"
     onmouseenter="{{ctx 'enter()'}}" onmouseleave="{{ctx 'leave()'}}" oncontextmenu="{{ctx 'context_menu(event)'}}">
    <div class="item-preview folder">
        <div class="item_thumbnail">
            {{item_thumbnail item}}
        </div>
        <div class="title">
            <p>{{item.name}}</p>
        </div>
    </div>
</div>
