<div id="uploader-container">
    <div id="uploader" {{object "uploader"}}>
        <div class="header" onclick="{{ctx "expand(event)"}}">
            <p>120 fichiers (256Go)</p>
            <div class="details">
                <p class="speed">2.5Mo/s</p>
                <p class="time">~2h</p>
            </div>
            <button class="expand" {{object "expand"}}><img src="/public/images/icons/icons8-expand-50.png"></button>
        </div>
        <div class="file-list" {{object "file_list"}}>
        </div>
        <button class="start-upload-button" {{object "upload_button"}} onclick="{{ctx "start_upload()"}}">
            ENVOYER
        </button>
        <div class="upload-in-progress" {{object "upload_in_progress"}}>
            <div class="thumbnail">
                <img src="/public/images/icons/mime-icons/text.png" alt="thumbnail">
            </div>
            <div class="infos">
                <div class="title">
                    <div class="name-line">
                        <p class="name">La fête du slip.mp3</p>
                        <button class="close"><img src="/public/images/icons/icons8-pause-30.png"></button>
                    </div>
                    <p class="size">50Mo</p>
                </div>
                <div class="progress">
                    <div class="progress-bar">
                        <div class="progress-status"></div>
                    </div>
                    <p class="progress-percents">75%</p>
                </div>
            </div>
        </div>
    </div>
</div>