<div class="file" onmouseenter="{{ctx 'enter()'}}" onmouseleave="{{ctx 'leave()'}}">
    {{item_thumbnail item}}
    <p>{{name}} ({{size}})</p>
    <button class="trash cancel-button" style="opacity: 0" onclick="{{ctx 'removed()'}}">
        <img src='/images/icons/icons8-trash-52.png' alt="supprimer">
    </button>
</div>
